{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": [
      "@typescript-eslint"
    ],
    "extends": [
      "eslint:recommended",
      "plugin:@typescript-eslint/eslint-recommended",
      "plugin:@typescript-eslint/recommended"
    ],
    "rules": {
        "no-console":"warn",
        "prefer-const":"error",
        "prefer-arrow-callback":"error",
        "no-undef":"error",
        "no-var":"error",
    },
    "env": {
      "browser": true,  // For browser environments
      "node": true      // For Node.js environments
    },
  }